:root {
  --brand-color: #212121;
  --logo-color: #000000;
  --second-color: #2196f3;
  --text-color: #757575;
  --background-color: #2f303a;
  --logo-footer-adress-hero: #ffffff;
  --footer-list-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-button-color: rgba(0, 0, 0, 0.15);
  --hero-name-color: rgba(0, 0, 0, 0.25);
  --client-command-color: #afb1b8;
  --description-color: #f5f4fa;
  --header-border-color: #ececec;
  --after-filtre-text-box-color: #eeeeee;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

* h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.pnon {
  padding-top: 0;
}

.header {
  display: block;
  margin: 0;
}

.logo {
  color: var(--logo-color);
  margin-right: 93px;
}

.logo__part {
  color: var(--second-color);
}

.logo,
.logo__part,
.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.logo-footer {
  margin-bottom: 20px;
}

.logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
}

.menu {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu,
.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu.current {
  color: var(--second-color);
}

.menu.current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-color);
}

.header__list {
  position: relative;
}

.header__list:not(:last-child) {
  margin-right: 50px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__contacts {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.contacts__icon {
  display: inline-flex;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--text-color);
  align-items: center;
  color: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.contacts:hover,
.contacts:focus {
  color: var(--second-color);
  --text-color: var(--second-color);
}

.menu {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover,
.menu:focus,
.contacts:hover,
.contacts:focus {
  color: var(--second-color);
}

.hero {
  background-color: var(--background-color);
  color: var(--logo-footer-adress-hero);
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images3/hero-after.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px var(--hero-name-color), 0px 4px 4px var(--hero-name-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--second-color);
  box-shadow: 0px 4px 4px var(--hero-button-color);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  color: var(--logo-footer-adress-hero);
  border: transparent;
}
.container .hero {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.description {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description-item:not(:last-child) {
  margin-right: 30px;
}
.description-item::before {
  width: 270px;
  height: 120px;
  background-color: var(--description-color);
  margin-bottom: 30px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.description-icon {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--description-color);
  border-radius: 4px;
}
.description-icon-svg {
  color: var(--client-command-color);
}

.command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding-top: 0;
}

.our-command-section {
  background-color: var(--description-color);
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-item:not(:last-child) {
  margin-right: 9px;
}

.footer-list-adress {
  color: var(--logo-footer-adress-hero);
  text-decoration: none;
}

.footer-list-contacts {
  color: var(--footer-list-contacts-color);
  text-decoration: none;
}

.logo-footer {
  color: var(--logo-footer-adress-hero);
  display: block;
}

.logo-footer-block {
  flex-grow: 1;
}

.footer .container {
  align-items: baseline;
  display: flex;
}/*# sourceMappingURL=main.css.map */