:root {
  --brand-color: #212121;
  --logo-part-color: #2196f3;
  --logo-color: #000000;
  --second-color: #2196f3;
  --button-hero-color: #2196f3;
  --text-color: #757575;
  --background-color: #2f303a;
  --logo-footer-adress-hero: #ffffff;
  --filter-button-color: #f5f4fa;
  --footer-list-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-button-color: rgba(0, 0, 0, 0.15);
  --hero-name-color: rgba(0, 0, 0, 0.25);
  --after-filtre-color: #f5f4fa;
  --client-command-color: #afb1b8;
  --description-color: #f5f4fa;
  --header-border-color: #ececec;
  --after-filtre-text-box-color: #eeeeee;
}
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* border: 4px solid tomato; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
}
/* header */
.header {
  display: block;
  margin: 0;
}

.logo {
  color: var(--logo-color);
  margin-right: 93px;
}
.logo-part {
  color: var(--logo-part-color);
}
.logo,
.logo-part,
.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.logo-footer {
  margin-bottom: 20px;
}
li {
  list-style-type: none;
}
.logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
}
.menu {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts {
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu,
.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu.current {
  color: var(--second-color);
}
.menu.current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-color);
}

.menu-list {
  position: relative;
}

.menu-list:not(:last-child) {
  margin-right: 50px;
}

.header .container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.nav-menu {
  display: flex;
  align-items: center;
}
.menu-header {
  display: flex;
}
.contacts-header {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.contacts-header-icon {
  display: inline-flex;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--text-color);
  align-items: center;
  color: currentColor;
}
.smartphone {
  width: 10px;
  height: 16px;
}
.envelope {
  width: 16px;
  height: 12px;
}
.contacts:hover,
.contacts:focus {
  color: var(--second-color);
  --text-color: var(--second-color);
}
.menu {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover,
.menu:focus,
.contacts:hover,
.contacts:focus {
  color: var(--second-color);
}

/* hero */
.container .hero {
  display: block;
}
.hero {
  background-color: var(--background-color);
  color: var(--logo-footer-adress-hero);
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images3/hero-after.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px var(--hero-name-color),
    0px 4px 4px var(--hero-name-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--button-hero-color);
  box-shadow: 0px 4px 4px var(--hero-button-color);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  color: var(--logo-footer-adress-hero);
  border: transparent;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pnon {
  padding-top: 0;
}
.text {
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding-top: 0;
}
.our-command-section {
  background-color: var(--after-filtre-color);
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}
.command-list,
.our-command-list,
.command-work,
.description-list {
  display: flex;
}
.dextop {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  position: absolute;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  height: 70px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.143;
  align-items: Center;
  justify-content: center;
  letter-spacing: 0.03em;
}
.dextop-fone {
  position: relative;
  overflow: hidden;
}
.command-item {
  background-color: var(--logo-footer-adress-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-item:not(:last-child) {
  margin-right: 30px;
}
.command-block {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-block:not(:last-child) {
  padding-left: 30px;
}
.command-soc-list {
  display: flex;
  justify-content: center;
}
.command-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--logo-footer-adress-hero);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--client-command-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.command-soc-item + .command-soc-item {
  margin-left: 10px;
}
.command-soc-icon {
  color: var(--client-command-color);
}
.command-soc-link:hover,
.command-soc-link:focus {
  background-color: var(--second-color);
  fill: var(--logo-footer-adress-hero);
}
.description {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description-item:not(:last-child) {
  margin-right: 30px;
}
.description-item::before {
  width: 270px;
  height: 120px;
  background-color: var(--description-color);
  margin-bottom: 30px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.descrption-icon {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--description-color);
  border-radius: 4px;
}
.descrption-icon-svg {
  color: var(--client-command-color);
}

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.position-text {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.client-blok-list {
  display: flex;
}
.client-blok-link {
  width: 44px;
  height: 44px;
  background-color: var(--logo-footer-adress-hero);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--client-command-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-blok-item + .client-blok-item {
  margin-left: 30px;
}
.client-blok-icon {
  color: var(--client-command-color);
}
.client-blok-link:hover,
.client-blok-link:focus {
  border: 1px solid var(--second-color);
  fill: var(--second-color);
}
.client-blok-link {
  display: flex;
  border: 1px solid var(--client-command-color);
  background-size: contain;
  width: 170px;
  height: 92px;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.client-blok-icon {
  width: 106px;
  height: 60px;
  display: inline-block;
}

/* footer */
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
.footer-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.list-adress,
.list-contacts {
  display: flex;
  margin-bottom: 9px;
}
.footer-item:not(:last-child) {
  margin-right: 9px;
}
.footer-list-adress {
  color: var(--logo-footer-adress-hero);
  text-decoration: none;
}
.footer-list-contacts {
  color: var(--footer-list-contacts-color);
  text-decoration: none;
}
.logo-footer {
  color: var(--logo-footer-adress-hero);
  display: block;
}
.logo-footer-block {
  flex-grow: 1;
}

.footer .container {
  align-items: baseline;
  display: flex;
}
.join-blok {
  margin-top: 0;
  margin-left: 70px;
  color: var(--logo-footer-adress-hero);
}
.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--logo-footer-adress-hero);
}
.join-blok-list {
  display: inline-flex;
}
.join-blok-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-footer-adress-hero);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-blok-item + .join-blok-item {
  margin-left: 10px;
}
.join-soc-icon {
  fill: var(--logo-footer-adress-hero);
}
.join-blok-link:hover,
.join-blok-link:focus {
  background-color: var(--second-color);
}

.subscribe {
  margin-left: 93px;
  color: var(--logo-footer-adress-hero);
}
.subscribe-title {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.subscribe-block {
  /* position: relative; */
  display: flex;
}
.subscribe-button {

  cursor: pointer;
  width: 200px;
  height: 50px;

  background-color: var(--second-color);
  border: none;
  border-radius: 4px;
  margin-left: 12px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.subscribe-icon {
  position: relative;
  margin-left: 10px;
}
.subscribe-class {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--logo-footer-adress-hero);
}
/* main portfolio */
.filter-list {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list:first-child {
  padding-right: 495px;
}
.filtre-menu-list:not(:last-child) {
  margin-right: 8px;
}
.filtre-menu-list {
  position: relative;
}

.our-work {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.after-filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.after-filter-item {
  position: relative;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.post-filter-list {
  text-decoration: none;
  display: block;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 2250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post-filter-list:hover,
.post-filter-list:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.after-filter-item-action-text {
  font-family: "Roboto", Tahoma, sans-serif;
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.after-filter-item-action-open {
  position: relative;
  overflow: hidden;
}
.post-filter-list:focus .after-filter-item-action-text,
.post-filter-list:hover .after-filter-item-action-text {
  transform: translateY(0);
}

.after-filtre-text-box {
  padding: 20px 24px;
  border-right: 1px solid var(--after-filtre-text-box-color);
  border-bottom: 1px solid var(--after-filtre-text-box-color);
  border-left: 1px solid var(--after-filtre-text-box-color);
}
.filter-button {
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--brand-color);
  background-color: var(--filter-button-color);
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--second-color);
  color: var(--logo-footer-adress-hero);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title-filter {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  margin-bottom: 4px;
}
.text-filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  max-width: 528px;
  min-height: 581px;
  background-color: var(--logo-footer-adress-hero);
  border: none;
  position: absolute;
  display: contents;
  left: 100%;
  transform: translate(-100%, -50%);
  transition: transform 250ms;
}
.block-modal {
  /* max-width: 528px;
  min-height: 581px; */
  background-color: var(--logo-footer-adress-hero);
  padding: 40px;
  /* border: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms;
}
.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* background-color: orange; */
}
.button-modal:hover {
  fill: var(--second-color);
  /* background-color: #fff; */
}
.modal-iconn {
  position: relative;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-icon {
  position: relative;
  top: 100%;
  left: 12px;
  /* bottom: 50%; */
  width: 18px;
  height: 18px;
  /* justify-content: center;
  display: block;
  
  
  background-color: #tomato; */
}
.modal-icon-svg {
  position: absolute;
  /* justify-content: center; */
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label:focus-within > .icon {
  background-color: var(--second-color);
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field-check {
  margin-bottom: 30px;
}
.modal-comment {
  margin-bottom: 20px;
}
.modal-form-block:focus-visible {
  border-color: var(--second-color);
}
.modal-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal-input:hover, */
.modal-input:focus {
  border-radius: 4px;
  border: 1px solid var(--second-color);
}
/* .modal-input:hover + .modal-icon-svg {
  fill: var(--second-color);
} */
.modal-input:focus + .modal-icon-svg {
  fill: var(--second-color);
}
/* input.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  margin-bottom: 20px;
  padding-left: 16px;
  color: rgba(33, 33, 33, 0.2);
} */
.modal-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.modal-text {
  display: block;
  width: 448px;
  height: 120px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  width: 448px;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
  border-color: rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border-radius: 4px;
  border: 1px solid var(--second-color);
}
/* .modal-input:valid {
  color: rgba(33, 33, 33, 1);
  border-color: #2196f3;
} */
.check-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.modal-icon-check-span {
  margin-right: 9px;
}
.check-text span .modal-icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--brand-color);
  border-radius: 2px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
/* перший варіант при свг не у спрайті для модального вікна чеку*/
/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 3px solid var(--brand-color);
  border-radius: 2px;
  margin-right: 9px;

} */

/* .modal-check:checked + .check-text::before {
  background-color: var(--second-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* кінець першого варіанту свг не у спрайті */
.modal-icon-check {
  fill: transparent;
}
.modal-check:checked + .check-text span .modal-icon-check {
  background-color: var(--second-color);
  border: none;
}
.modal-check:checked + .check-text .modal-icon-check {
  fill: var(--logo-footer-adress-hero);
}
.agreement-text {
  color: var(--second-color);
  text-decoration: underline;
  padding-left: 1px;
}
.modal-input:focus:placeholder-shown {
  border: 1px solid var(--second-color);
}
.send {
  display: block;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-hero-color);
  color: var(--logo-footer-adress-hero);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  /* margin-bottom: 40px; */
  border: transparent;
}
.footer-modal-input {
  position: relative;
  border-color: rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: var(--background-color);
  padding-left: 12px;
}
input.footer-modal-input {
  width: 358px;
  height: 50px;

  border-radius: 4px;
  /* margin-bottom: 20px; */
}
