.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
  & .container {
    align-items: baseline;
    display: flex;
  }
}
.address {
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-address__link {
  color: var(--logo-footer-adress-hero);
  text-decoration: none;
}
.footer-address__link,
.footer-contacts {
  display: flex;
  margin-bottom: 9px;
}
.address .footer-contacts__link {
  color: var(--footer-list-contacts-color);
  text-decoration: none;
}
.footer__box {
  flex-grow: 1;
}
.logo-footer {
  color: var(--logo-footer-adress-hero);
  display: block;
}
.footer-item:not(:last-child) {
  margin-right: 9px;
}

.join {
  margin-top: 0;
  margin-left: 70px;
  color: var(--logo-footer-adress-hero);

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--logo-footer-adress-hero);
  }
}
.join__list {
  display: inline-flex;
}
.join__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--logo-footer-adress-hero);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--second-color);
  }
}
.join__item + .join__item {
  margin-left: 10px;
}
.join__icon {
  fill: var(--logo-footer-adress-hero);
}

.subscribe {
  margin-left: 93px;
  color: var(--logo-footer-adress-hero);

  &__title {
    font-family: $font-family-2nd;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
}
.subscribe-block {
  display: flex;

  &__button {
    cursor: pointer;
    width: 200px;
    height: 50px;

    background-color: var(--second-color);
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }
  &__icon {
    position: relative;
    margin-left: 10px;
  }
}
.subscribe-class {
  font-family: $font-family-2nd;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--logo-footer-adress-hero);
}
.footer-modal-input {
  position: relative;
  border-color: rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: var(--background-color);
  padding-left: 12px;
}
input.footer-modal-input {
  width: 358px;
  height: 50px;

  border-radius: 4px;
}
