.soc-list {
  display: flex;
  justify-content: center;
}
.soc-list__link {
  width: 44px;
  height: 44px;
  background-color: var(--logo-footer-adress-hero);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--client-command-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--second-color);
    fill: var(--logo-footer-adress-hero);
  }
}
.soc-list__item + .soc-list__item {
  margin-left: 10px;
}
.soc-list__icon {
  color: var(--client-command-color);
}
