.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.description {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item::before {
    width: 270px;
    height: 120px;
    background-color: var(--description-color);
    margin-bottom: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__icon {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--description-color);
    border-radius: 4px;
  }
  &__svg {
    color: var(--client-command-color);
  }
}
.text {
  font-family: $font-family-2nd;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
