.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.description {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  &-item:not(:last-child) {
    margin-right: 30px;
  }
  &-item::before {
    width: 270px;
    height: 120px;
    background-color: var(--description-color);
    margin-bottom: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-icon {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--description-color);
    border-radius: 4px;
  }
  &-icon-svg {
    color: var(--client-command-color);
  }
}
