:root {
  --brand-color: #212121;
  --logo-color: #000000;
  --second-color: #2196f3;
  --text-color: #757575;
  --background-color: #2f303a;
  --logo-footer-adress-hero: #ffffff;
  --footer-list-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-button-color: rgba(0, 0, 0, 0.15);
  --hero-name-color: rgba(0, 0, 0, 0.25);
  --client-command-color: #afb1b8;
  --description-color: #f5f4fa;
  --header-border-color: #ececec;
  --after-filtre-text-box-color: #eeeeee;
}